[push]
	default = simple
[user]
	name = Brian Goad
	useconfigonly = true
[core]
	editor = vim
[merge]
	tool = meld
[pager]
	log = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -XF
	show = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -XF
	diff = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -XF
[pull]
	rebase = true
[alias]
	diff-last = diff @~..@
	diff-staged = diff --cached
	unstage = reset HEAD
    uncommit = reset --soft HEAD^
    work-config = config user.email "bgoad@tivo.com"
    github-config = config user.email "bdgoad@gmail.com"
    hard-reset = reset --hard
    save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -
	discard = checkout -- 
	current-branch = !git symbolic-ref -q --short HEAD || git describe --tags --exact-match
	pushit = !git push 2> /dev/null || git push  --set-upstream origin $(git current-branch)
[gc]
	auto = 1
[fetch]
	prune = true
[credential]
	helper = cache
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = 70 bold
	newHighlight = green bold 22
[color "diff"]
    plain = 250
	meta = 240
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = 70 bold
	whitespace = red reverse
